.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }


body{
  background-color: #eee;
}
.container {
  margin: 45% auto;
}
/* Базовые стили */
.heart {
  position: relative;
  width: 290px;
  height: 440px;
  background-color: red;
  box-shadow: -1px 0px 2px #444;
  /* Скругляем верхние углы */
  -webkit-border-radius: 50px 50px 0 0;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 79% 61% 41% 0;
  /* Определяем угол наклона */
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
/* Формируем правую часть */
.heart:before {
  position: absolute;
  width: 449px;
  height: 277px;
  left: 0;
  bottom: 0;
  content: "";
  background-color: red;
  box-shadow: 0px 3px 3px #444444;
  -webkit-border-radius: 38% 38% 0 0;
  -moz-border-radius: 38% 38% 0 0;
  border-radius: 39% 48% 48% 0;
}
/* Убираем тень при наведении */
.heart:hover:before, .heart:hover{
  box-shadow:none;
}

.wrap_heart {
  margin: 10% 30%;
}

.text {
  padding: 0 44% 0% 48%;
  align-items: center;
  margin-top: -7%;
}

