.jumbotron {
  background: #532F8C;
  color: white;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7; }
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
body{
  background-color: #ffa6a6;
}
.wrap-heart {
  position: relative;
  margin-top: 50%;
}
.heart {
  animation: heartbeat 1s infinite;
  background-color: red;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  position: absolute;
  left: 45%; top: 45%;
  width: 50px;
}

.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  top: -25px;
  left: 0;
}

.heart:after {
  left: 25px;
  top: 0;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 5 )
    rotate(-45deg);
  }
  20%
  {
    transform: scale( 5.25 )
    rotate(-45deg);
  }
  40%
  {
    transform: scale( 5.5 )
    rotate(-45deg);
  }
  100%
  {
    transform: scale( 5 )
    rotate(-45deg);
  }
}


.Kat {
  text-align: center;
}

.text {
  margin-top: 50%;
  color: red;
  font-size: 2em;
  transform: scale(1);
  animation: scale 2s forwards;
}
@keyframes scale {
  to {
    transform: scale(3.2);
  }
}


